body { font-weight: bold; color: white; }

#contenido {
width: 700px;
margin: auto;
border: solid 1px black;
background-color: #CCCCCC;
}

#caja1 {
width: 130px;
height: 130px;
background-color:#FFFF00;
border: solid 1px black;
margin: 10px;
float: left;
}

#caja2 {
width: 130px;
height: 130px;
background-color:#00FF00;
border: solid 1px black;
margin: 10px;
float: left;
}

#caja3 {
width: 160px;
height: 160px;
background-color:#0000FF;
border: solid 1px black;
margin: 10px;
float: left;
}

.clearboth {
clear: both;
}
